# Get the root directory name of the git project
GIT_ROOT_DIR=$(git rev-parse --show-toplevel)
SITE_DIR=$(basename "$GIT_ROOT_DIR")

# Set Droplet variables
export SITE_DIR
export PROJECT_NAME=zwhitchcox.dev
export DROPLET_NAME=$PROJECT_NAME
export DROPLET_SIZE=s-1vcpu-1gb
export DROPLET_IMAGE=ubuntu-20-04-x64
export DROPLET_REGION=nyc1
export DROPLET_USERNAME=root

